.navigasi {
  background-image: url(img/istockphoto-1566475796-1024x1024-transformed.jpeg);
  width: fit-content;
  height: 800px;
}
nav .navbar-brand {
  font-family: "Maven Pro", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.75px;
}
nav li.nav-item a {
  font-family: "Mate", serif;
  font-size: 25px;
  margin-right: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.25px;
}

section.section1 {
  z-index: 3;
  margin-top: 250px;
}
section.section1 p.judul1 {
  font-family: Mate SC;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}
section.section1 p.isi1 {
  font-family: Mate;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

section.section1 a.btn {
  width: 249px;
  height: 75px;
  border-radius: 20px;
  border: 1px solid #fff;
  background: #122024;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
